<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" href= "../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script defer src="../static/script.js"></script> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=" author" content=" Aditi Agni">
    <meta name= "keywords" content= "Carnegie Mellon University Information Systems">
    <meta name= "description" content= "Aditi Agni Professional Website" >
   
    <title>Aditi Agni</title>
</head>
<body id="html" onload= "addYear()">
    <header> 
        <h1 id="webname">  Aditi Agni  </h1>
        <nav id="myTopnav" class="topnav">  
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html"> Contact me</a>
            <a href= "fun.html"> For Fun</a>
        
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
                </a>
         
        </nav>
    </header>
    <div class="cv.html">
        <h2 id="CV" >  "Curriculum Vitae" </h2>
         
            <a href="../static/AditiAgniCurrentResume.pdf"> My Resume - PDF Version 
            </a>
              <br>

        <table>
            <tr><th>Education:</th><th>Role</th><th> Description</th></tr>
            <tr><td>Carnegie Mellon University (CMU)</td><td>Freshman (2023-2027)</td><td> B.S. Information Systems, intended minor in Software Engineering</td></tr>
            <tr><th>Experience:</th><th>Role</th><th> Description</th></tr>
            <tr><td>CMU Scotty Labs</td><td>UI/Front-End Developer and Event Organizer</td>
                <td>
                    <ul id="leftList">
                        <li>Collaborate on UI and Front-end software for popular websites/apps to improve experience of CMU Student Body (namely TartanHacks Hackathon applications)</li>
                        <li>Develop UI/Front-end for new and existing versions of TartanHacks dashboard and sudo applications</li>
                        <li>Rethemeing/redesigning user and admin facing software to maximize accessibility and inclusivity</li>
                        <li>Test existing applications for deployment to ensure high user satisfaction</li>
                        <li>Collaborated with fellow TartanHacks organizers in weekly meetings to ensure success of TartanHacks Hackathon (largest CMU and Pittsburgh Hackathon)</li>
                        <li>Currently organizing Nova: Emerging Technology Week ( a week-long builder event where teams work w/cutting-edge, emerging technology + mentors)</li>
                    
                    </ul> </td></tr>
            <tr><td>CMU 180 DC</td><td>Pro-Bono Consultant</td>
                <td>
                    <ul id="leftList">
                        <li>180DC at Carnegie Mellon University is committed to providing high-quality pro-bono consulting to local/national non-profit organizations that propel social impact (This semester's clients include NASA, GoodWill and the Ronald McDonald House).</li>
                        <li>Currently undergoing an intensive 8-week onboarding training to gain professional and technical consulting skills/expertise and will serve as a pro-bono consultant the upcoming semester</li>
                    </ul>
                 </td></tr>
            <tr><td>CMU American Marketing Association</td><td>Non-Profit Committee Consultant</td>
                <td>
                    <ul id="leftList">
                        <li>Currently serving as non profit committee consultant for Pittsburgh non-profit, Ten Thousand Villages </li>
                        <li>Collaborate in weekly meetings with fellow consultant to ideate innovative marketing strategies via social media and other means to increase visibility of nonprofit and drive sales</li>
                    </ul>
                </td></tr>
            <tr><td> Agni Infotech</td> <td>Software Teser </td>
                 <td> 
                    <ul id="leftList">
                        <li>Test applications based on extensive understanding of business requirements</li>
                        <li>Gained experience in principles of SWE and business entrepreneurship</li>
                        <li>Helped consult on strategic business moves</li>
                    </ul>
                </td></tr>

            <tr> <td> Inspirit AI</td> <td>Scholar</td>
                <td>
                    <ul id="leftList">
                        <li> Learned ML + AI via Python (CNN, NLP, Log/Lin Regression)</li>
                        <li>Spearheaded ML project to fight biases in Criminal Justice Systems</li>
                        <li>Collaborated on Computer Vision Project to detect cancerous lung conditions in patients</li>
                    </ul>
                </td></tr>

            <tr><td>Girls Who Code</td><td>Summer Immersion Program</td>
                <td>
                    <ul id="leftList">
                        <li>Workshopped on HTML, CSS, Javascript for web development</li>
                        <li>Connected with Bank of America industry professionals to understand business strategies via implementation of IT and strategic use of technology to maximize user accessibility in company applications</li>
                        <li>Coded websites to spread awareness on social issues (educational inequality) </li>
                    </ul>
                </td></tr>
              
        </table>
        
        
        
    </div>
    <footer>
         <p id="copyYear">   Aditi Agni &copy  </p> 
    </footer>
   
    
    
</body>
</html>